nav {
  border-radius: 17px;
  margin-top: -13px;
  background-color: black;

}

nav ul {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 32px;
}
